<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome To Nodejs World</title>
</head>
<body>
    <h1>WELCOME TO NODEJS WORLD</h1>
    <div class="col">
        <a href="http://localhost:3000/signup">New User</a>
    </div>

    <div class="col mt-10">
        <a href="http://localhost:3000/login">Login</a>
    </div>
</body>
</html>